# --- Java & Build Tools ---
**/target/
**/build/
**/out/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
!.mvn/wrapper/maven-wrapper.jar

# --- Docker & Local Environment ---
**/data/
**/logs/
.env

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- VS Code ---
.vscode/
*.code-workspace

# --- Eclipse & NetBeans ---
.metadata
.classpath
.project
.settings/
.factorypath
bin/
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --- OS Specific ---
.DS_Store
Thumbs.db